<!DOCTYPE HTML>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ice Cream Festival - Role</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <p th:text="'Hello, ' + ${name} + '!'"/>
    <p>Welcome to Ice Cream Festival</p>
    <div class="form-group">
        <label for="visitor-role">Role:</label>
        <select name="role" id="visitor-role">
            <option value="seller">Seller</option>
            <option value="buyer">Buyer</option>
        </select>
        <!--input type="text" class="form-control" id="visitor-role"-->
        <button id="submit-button">Submit</button>
    </div>
</div>
<script>
    $("#submit-button").click(function () {
        var visitorRole = document.getElementById('visitor-role').value;
        var url = "/mainmenu?visitor=";
        window.open(url.concat(visitorRole));
    })
</script>
</body>
</html>
