<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Ice Cream Festival - Login</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!--object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object-->
</head>

<body>
<div class="container-fluid">
    <p th:text="'Hello, ' + ${name} + '!'"/>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Log In
                </div>
                <div class="card-body">
                    <div th:if="${param.error}">
                        <span style="color: red">Invalid username or password</span>
                    </div>
                    <form th:action="@{/login}" method="POST">
                        <div class="row form-group">
                            <label class="col-sm-4">Username:</label>
                            <input type="text" class="col-sm-8 form-control input-sm" name="username">
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4">Password:</label>
                            <input type="password" class="col-sm-8 form-control input-sm" name="password">
                        </div>
                        <div class="row form-group">
                            <button type="submit" class="btn btn-primary">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- kalo pake oauth-->
<div class="container-fluid">
    <h1>Ice Cream Festival</h1>
    <a href="securedPage" class="btn" role="button">Login</a>
    <!--br> // kalo authentication
    Welcome, <span th:text="${#authentication.name}"></span-->
</div>
</body>

</html>