<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Ice Cream Festival - Main Menu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    Welcome, <span th:text="${#authentication.name}"></span>
    <h2>SELECT</h2>
    <a href="#" class="btn btn-primary btn-lg" role="button">BUY</a>
    <a href="#" class="btn btn-info btn-lg" role="button">RESTOCK</a>
    <a href="#" class="btn btn-success btn-lg" role="button">TOP UP</a>
</div>

</body>
</html>
